<ul>
  <li><%=link_to 'New Review', new_product_review_path(@product) %></li>
</ul>

<h1><%=@product.name%></h1>
<p><%=@product.description %></p>

<%= @reviews.each do |review| %>

  <div class = "review">
    <div class = "review-vote">
      <div class = "upvote">
      <i class = "fa fa-star"></i>
        <%= link_to "Upvote", votes_path(review_id: review.id, value: 1), method: :post%>
      </div>

      <%= review.vote_count %>

      <div class = "downvote">
       <%= link_to "Downvote", votes_path(review_id: review.id, value: '-1'), method: :post%>
      </div>
  </div>

  <div><%= review.author.username %> </div>
  <div><%= review.rating %> </div>
  <div><%= review.comment %> </div>

<%- end -%>


