<ul>
  <li><%=link_to 'New Review', new_product_review_path(@product) %></li>
</ul>

<h1><%=@product.name%></h1>
<p><%=@product.description %></p>

<%= @reviews.each do |review| %>

    <div><%= review.author.username %> </div>
    <div><%= review.rating %> </div>
    <div><%= review.comment %> </div>

<%- end -%>
