<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Arvo" %>
    <%= stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Open+Sans" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/main_navbar' %>
    <%= render 'layouts/messages' %>

    <div class='nift'>
      <span class='logo_letter'>N</span>
      <span class='logo_letter'>I</span>
      <span class='logo_letter'>F</span>
      <span class='logo_letter'>T</span>
    </div>

    <p class='subheading'>Reviewing the latest startup products</p>

    <%= yield %>

    <%= javascript_include_tag "application" %>

  </body>
</html>
